.pricing .pricing_upper_part h1{
    color: var(--danger-color);
    position: relative;
}
.pricing .pricing_upper_part h1::after,
.pricing .pricing_upper_part h1::before{
    content:"";
    position: absolute;
    top: 50%;
    width: 1.5rem ;
    height: 0.3rem;
    background-color: var(--danger-color);
}
.pricing .pricing_upper_part h1::before{
    left: 0%;
}
.pricing .pricing_upper_part h1::after{
    right: 0%;
}
p.h6{
    opacity: 0.8;
}
.pricing .pricing_lower_part .ticket{
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.pricing .pricing_lower_part .ticket1{
    border-radius:20px;
}
.pricing .pricing_lower_part .ticket2{
    border: 2px solid var(--danger-color);
    border-radius:20px;
    transform: scale(1.02);

}
.pricing .pricing_lower_part .ticket3{
    border-radius:20px;
}
.pricing .pricing_lower_part .ticket .ticket_upper_part .plan{
    opacity: 0.8;
}
.pricing .pricing_lower_part .ticket .ticket_upper_part .icon{
    padding: 1rem;
}
.pricing .pricing_lower_part .ticket .ticket_upper_part .icon i{
    color: var(--danger-color);
    font-size:50px;
}
.pricing .pricing_lower_part .ticket .ticket_upper_part .cost{
    color:#0000007c;
}
.pricing .pricing_lower_part .ticket .ticket_upper_part .cost .cost_colored{
    color: var(--danger-color);
    opacity: 1;
}
.pricing .pricing_lower_part .ticket .ticket_upper_part .cost .cost_colored sub{
    font-size: 30px;
    font-weight: bold;
}
.pricing .pricing_lower_part .ticket .ticket_lower_part ul li{
    margin:0.3rem 0;
}
.pricing .pricing_lower_part .ticket .ticket_lower_part ul li.false,
.pricing .pricing_lower_part .ticket .ticket_lower_part ul li .xmark{
    opacity: 0.6;
    text-decoration: line-through;
}
.pricing .pricing_lower_part .ticket .ticket_lower_part button{
    margin: 1rem 0 0 0;  
    outline: 0;
    border: 1px solid var(--danger-color);
    background-color: unset;
    padding:0.5rem 1rem ;
    border-radius: 30px;
    transition: 0.5s all ease;
}
.pricing .pricing_lower_part .ticket .ticket_lower_part button:hover{
    background-color: var(--danger-color);
    color: var(--main-light-color);
}
.pricing .pricing_lower_part .ticket .ticket_lower_part .btn_2{
    background-color: var(--danger-color);
    color: var(--main-light-color);


}
@media (max-width:800px) {
    .pricing .pricing_lower_part{
        flex-direction: column !important;
        margin: 0 !important;
        padding: 0;
    }
    .pricing .pricing_lower_part .ticket{
        margin: 1rem auto;
    }
}